.container{
    max-width: 96% !important;
}
.bdr{
    border-right: 2px solid rgb(66, 63, 63);
}
.mgb{
    margin-bottom: 20px;
    margin-top: 60px;
}
.mg{
    margin-top: 10px;
    margin-left: -20px;
    list-style-type: none;
}
.mg:hover{
    cursor: pointer;
}
.width-700{
    width: 700px !important;
}
.width-500{
    width: 500px !important;
}